@font-face {
    font-family: "Roboto";
    src: url('roboto.ttf');
}

@font-face{
  font-family: "Raleway";
  src: url('raleway.ttf');
}

html{
  background-color: #063d6d;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    background-color: #063d6d;
}
body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

/* navbar */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-radius: 40px;
  background-color: #b4c5d5;
}

.navbar-li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Roboto;
  font-weight: bold;
}

.navbar-li a:hover {
  color: white;
}

/* footer */
.footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.wroclaw-logo{
  width: 71px;
  height: 70px;
  background-color: yellow;
  margin-left: 30px;
}

.description, .website{
  font-size: 20px;
  font-family: Bahnschrift;
  width: 260px;
  margin-left: 100px;
  margin-bottom: 0;
  margin-top: 0;
}

.odra-centrum-logo{
  margin-left: 600px;
  width: 100px;
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
